#div6 {
  @media screen and (min-width: 997px) {
    #container1 {
      padding: 2%;
    }
    h1 {
      font-size: 3.6em;
      color: #08584a;
    }

    #p1 {
      width: 90%;
      font-size: 1.5em;
      color: grey;
    }
    body {
      font-family: "Signika", sans-serif;
    }
    #para1 {
      font-size: 1.4em;
      color: grey;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    #card1 {
      width: 100%;
      border: 0px solid white;
    }
    .card,
    .card-header,
    .card-footer,
    .card-body {
      background-color: white;
      border: 0px solid white;
      text-align: center;
      color: grey;
      width: 100%;
    }
    #cardp {
      font-size: 1.2em;
      width: 100%;
    }
    #cardsub {
      font-size: 1.3em;
    }
    #cardimg {
      width: 60%;
    }
    ul {
      list-style: square;
    }
    li {
      text-align: left;
    }
    #abt_col {
      margin-top: 6rem;
    }
    #leftcol {
      vertical-align: middle;
      margin-top: 22vh;
      height: 25vh;
      width: 59rem;
    }
  }
}
